[user]
	name = Iori Mizutani
	email = iori.mizutani@gmail.com
[alias]
    st = status

    amend = commit --amend
    ci = commit
    cia = commit -a
    cam = commit --amend
    cama = commit --amend -a

    cl = clean
    cldf = clean -df

    br = branch
    branches = branch -a

    tags = tag

    stashes = stash list

    unstage = reset -q HEAD --
    uncommit = reset --mixed HEAD~
    res = reset
    resa = reset HEAD
    nevermind = !git reset --hard HEAD && git clean -d -f

    co = checkout
    discard = checkout --

    df = diff --color
    precommit = diff --cached --diff-algorithm=minimal -w
    unmerged = diff --name-only --diff-filter=U

    remotes = remote -v

    lg = log -p
    gg = log --oneline --abbrev-commit --all --graph --decorate --color
    graph = log --graph -10 --branches --remotes --tags  --format=format:'%Cgreen%h %Creset• %<(75,trunc)%s (%cN, %cr) %Cred%d' --date-order
[gui]
	recentrepo = /Users/iomz/Dropbox/auto-id/paper/paper-ieeerfidta2015-multicode
	recentrepo = /Users/iomz/violin/OH2015-clone
[mergetool "Kaleidoscope"]
[merge]
[difftool "Kaleidoscope"]
[difftool]
[mergetool]
[diff]
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustexitcode = true
[push]
	default = simple
[core]
	excludesfile = /Users/iomz/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[diff]
	tool = diffmerge
[difftool "diffmerge"]
	cmd = diffmerge \"$LOCAL\" \"$REMOTE\"
[merge]
	tool = diffmerge
[mergetool "diffmerge"]
	cmd = "diffmerge --merge --result=\"$MERGED\" \"$LOCAL\" \"$(if test -f \"$BASE\"; then echo \"$BASE\"; else echo \"$LOCAL\"; fi)\" \"$REMOTE\""
	trustExitCode = true
