[user]
	name = Iori Mizutani
	email = iori.mizutani@gmail.com
[alias]
    st = status
    ci = commit
    br = branch
    co = checkout
    df = diff --color
    lg = log -p
    gg = log --oneline --abbrev-commit --all --graph --decorate --color
[gui]
	recentrepo = /Users/iomz/Dropbox/auto-id/paper/paper-ieeerfidta2015-multicode
	recentrepo = /Users/iomz/violin/OH2015-clone
[mergetool "Kaleidoscope"]
[merge]
[difftool "Kaleidoscope"]
[difftool]
[mergetool]
[diff]
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustexitcode = true
[push]
	default = simple
[core]
	excludesfile = /Users/iomz/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
