[user]
    name = Iori Mizutani
    email = iomz@sazanka.io
    signingkey = AD331A6C3ACEBF1F58A056D0E05D48ED7C9BF56A
{{- if eq .chezmoi.os "darwin" }}
[gpg]
    program = /opt/homebrew/bin/gpg
[commit]
    gpgsign = true
[credential]
    helper = osxkeychain
{{- end }}
[commit]
    verbose = true
[alias]
    amend = commit --amend
    br = branch -a
    cama = commit --amend -a
    ci = commit
    clear = clean -df
    co = checkout
    df = diff --color
    discard = checkout --
    gg = log --oneline --abbrev-commit --all --graph --decorate --color
    graph = log --graph -10 --branches --remotes --tags --date-order
    lg = log -p
    ls-untracked = ls-files --others --exclude-standard
    nevermind = !git reset --hard HEAD && git clean -d -f
    pom = push -u origin HEAD --tags
    precommit = diff --cached --diff-algorithm=minimal -w
    remotes = remote -v
    resa = reset HEAD
    st = status
    stashes = stash list
    uncommit = reset --mixed HEAD~
    unmerged = diff --name-only --diff-filter=U
    unstage = reset -q HEAD --
[diff]
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true
    tool = vimdiff
[fetch]
	prune = true
	pruneTags = true
[merge]
	tool = vimdiff
	conflictstyle = diff3
[init]
    defaultBranch = main
[pull]
	rebase = false
[push]
	autoSetupRemote = true
	default = simple
	followTags = true
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
