// ~/.config/zellij/config.kdl

default_mode "locked"

keybinds clear-defaults=true {
    locked {
        bind "Ctrl u" { SwitchToMode "normal"; }
    }

    normal {
        bind "esc" { SwitchToMode "locked"; }
        bind "Ctrl u" { SwitchToMode "locked"; }
        bind "Ctrl c" { SwitchToMode "locked"; }
        bind "d" { Detach; SwitchToMode "locked"; }
        bind "[" { SwitchToMode "scroll"; }
        bind "Tab" { SwitchToMode "tab"; GoToNextTab; }
        bind "f" { ToggleFloatingPanes; SwitchToMode "locked"; }

        // Pane
        bind "-" { NewPane "down"; SwitchToMode "locked"; }
        bind "|" { NewPane "right"; SwitchToMode "locked"; }
        bind "s" { NewPane "down"; SwitchToMode "locked"; }
        bind "v" { NewPane "right"; SwitchToMode "locked"; }
        bind "x" { CloseFocus; SwitchToMode "locked"; }

        // Tab
        bind "t" { NewTab; SwitchToMode "locked"; }
        bind "q" { CloseTab; SwitchToMode "locked"; }

        // vim-ish move
        bind "h" { MoveFocusOrTab "left"; SwitchToMode "locked"; }
        bind "j" { MoveFocus "down"; SwitchToMode "locked"; }
        bind "k" { MoveFocus "up"; SwitchToMode "locked"; }
        bind "l" { MoveFocusOrTab "right"; SwitchToMode "locked"; }

        // Switch Tab
        bind "1" { GoToTab 1; SwitchToMode "locked"; }
        bind "2" { GoToTab 2; SwitchToMode "locked"; }
        bind "3" { GoToTab 3; SwitchToMode "locked"; }
        bind "4" { GoToTab 4; SwitchToMode "locked"; }
        bind "H" { GoToPreviousTab; SwitchToMode "locked"; }
        bind "L" { GoToNextTab; SwitchToMode "locked"; }
    }

    scroll {
        bind "Esc" { SwitchToMode "locked"; }
        bind "Ctrl c" { SwitchToMode "locked"; }

        bind "j" { ScrollDown; }
        bind "k" { ScrollUp; }

        bind "Ctrl f" { HalfPageScrollDown; }
        bind "Ctrl b" { HalfPageScrollUp; }

        bind "g" { ScrollToTop; }
        bind "G" { ScrollToBottom; }

        bind "/" { SwitchToMode "entersearch"; }
    }

    tab {
        bind "Ctrl c" { SwitchToMode "locked"; }

        bind "Tab" { GoToNextTab; }
        bind "Shift Tab" { GoToPreviousTab; }

        bind "h" { GoToPreviousTab; }
        bind "l" { GoToNextTab; }

        bind "Enter" { SwitchToMode "locked"; }
        bind "Esc" { SwitchToMode "locked"; }
    }
}

pane_frames false
// simplified_ui true
show_startup_tips false
show_release_notes false
